@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;400;700&display=swap');

main{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 7px;
}
main section{
  display:flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
main section:hover{
  animation-play-state:running;
}
main section.photo{
  background: none;
  font-family: 'Oswald';
}
main section.video{
  background: url("../assets/aboutme_min.jpg");
}
main section .shadow{
  text-align: center;
  /*background-color: rgba(0,0,0,0.3);*/
  padding: 0 20px;
}
main section h1{
  cursor: pointer;
  font-size: 88px;
  font-weight: 900;
}