@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+SC:wght@500&display=swap');


@keyframes animatedBackground {
  from {
    background-position: 50%;
  }
  to {
    background-position-x: 100%;
  } 
}

/* main */

main{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 7px;
}
main section{
  display:flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-position: 0px 0px;
  background-repeat: repeat-x;
  animation: animatedBackground 10s infinite alternate linear;
  animation-iteration-count: 1;
  animation-play-state:paused;
  animation-fill-mode: forwards;
}
main section:hover{
  animation-play-state:running;
}
main section.photo{
  background: url("../assets/contact_min.jpg") center;
}
main section.video{
  background: none;
}

/* form */
form input[type="text"]{
  font-size: 24px;
  padding: 5px;
  outline: none;
}
form input[type="submit"]{
  margin-top: 20px;
  font-size: 24px;
  padding: 5px;
  outline: none;
  cursor: pointer;
}
textarea{
  font-family: Arial;
  font-size: 20px;
  padding: 5px;
  outline: none;
}