

@keyframes animatedBackground {
  from {
    background-position: 50%;
  }
  to {
    background-position-x: 100%;
  } 
}

/* main */

main{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 7px;
}
main section{
  display:flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-position: 0px 0px;
  background-repeat: repeat-x;
  animation: animatedBackground 10s infinite alternate linear;
  animation-iteration-count: 1;
  animation-play-state:paused;
  animation-fill-mode: forwards;
  transition: opacity 1s;
  opacity: 0.7;
  z-index: 0;
}
main section:hover{
  opacity: 0.9;
  animation-play-state:running;
}
main section.photo{
  background: url("../assets/landing1.jpg") center;
}
main section.video{
  background: url("../assets/landing2.jpg") center;
}
main section .shadow{
  text-align: center;
  /*background-color: rgba(0,0,0,0.3);*/
  padding: 0 20px;
}
main section h1{
  z-index: 2;
  cursor: pointer;
  font-size: 88px;
  font-weight: 900;
}